.calculator {
    width: 250px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(93, 83, 70);
  }
  
  input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
    text-align: right;
  }
  
  button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color:rgb(228, 212, 191);
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d9d9d9;
  }
  
  button:active {
    background-color: #cccccc;
  }
  
  button:focus {
    outline: none;
  }
  
  button:last-child {
    background-color: #f0ad4e;
    color: white;
  }